


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sigmar', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 60px;
    background: linear-gradient(to right, white 50%, #333 50%);
    z-index: 10;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-left ul,
.navbar-right ul {
    list-style: none;
    display: flex;
}

.navbar-left li,
.navbar-right li {
    margin: 0 20px;
}

.navbar-left a,
.navbar-right a {
    color: #ff9800;
    text-decoration: none;
    font-size: 18px;
}

.navbar-left a:hover,
.navbar-right a:hover {
    color: #e68900;
}

.navbar-left i,
.navbar-right i {
    font-size: 24px;
    margin-right: 10px;
}

.left-icon {
    color: black;
}

.right-icon {
    color: white !important;
}

.main-container {
    display: flex;
    height: calc(100vh - 60px);
    width: 100%;
    justify-content: center;
    align-items: center;
}

.hero-image {
    width: 50%;
    height: 100%;
    background: no-repeat center/cover;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-form {
    position: relative;
    width: 50%;
    background-color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(70, 130, 180, 0.6);
    margin-left: 10px;
}

.login-form::before {
    content: "\f1e2";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 200px;
    color: rgb(255, 165, 0);
    z-index: -1;
    display: block;
}

.login-form h1 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #333;
    text-align: center;
}

.login-form input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #fd0707;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ebe2d5;
    box-shadow: 0 4px 8px rgba(70, 130, 180, 0.6);
}

.rubik-glitch {
    font-family: 'Rubik Glitch', sans-serif;
    font-size: 36px;
}

.login-form button {
    width: 80%;
    padding: 10px;
    background-color: #ff9800;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(70, 130, 180, 0.6);
}

.login-form button:hover {
    background-color: #e68900;
}

.login-form button span {
    display: inline-block;
}

.login-form .white-text {
    color: white;
}

.login-form .black-text {
    color: black;
}

.footer {
    display: flex;
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, white 50%, #333 50%);
    padding: 20px;
    justify-content: space-between;
    position: relative;
}

.footer-left,
.footer-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-left ul,
.footer-right ul {
    list-style: none;
    display: flex;
}

.footer-left li,
.footer-right li {
    margin: 0 20px;
}

.footer-left a,
.footer-right a {
    color: #ff9800;
    text-decoration: none;
    font-size: 16px;
}

.footer-left a:hover,
.footer-right a:hover {
    color: #e68900;
}

.footer-text {
    color: #ff9800;
    font-size: 16px;
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}








